h1 {
    color: #757575;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;

}

h2 {
    color: red;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 56px;
}

h3 {
    color: #757575;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 44px;
}

h4 {
        color: red;
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: normal;
        font-size: 36px;
    }

h5 {
        color: #656060;
        font-family: "Poppins", serif;
        font-weight: 300;
        font-style: normal;
        font-size: 22px;
    }
h6 {
    color: red;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
}

.small-heading {
        color: rgb(0, 217, 255);
        font-family: "Poppins", serif;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
    }

p {
    color: blueviolet;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

.small-paragraph {
    color: blueviolet;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
}
.image-flowers {
    margin-top: 64px;
    display: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 520px;
    background-image: url(/images/image-flowers-hawai.png);
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    opacity: 70%;
    z-index: -1;
}


.image-emily {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-top: 77px;
    margin-left: 96px;
}

.overlay-image-flower {
    position: relative;
    width: 293px;
    height: 293px;
    background-image: url(/images/image-flower-hawai.png);
    opacity: 90%;
    z-index: 1;
}
.image-citrus {
    width: 107%;
    height: 97%;
    position: relative;
  }

  .image-citrus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/image-citrus-2.png);
    background-size: cover;
    background-position: center -14px;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
  }
  .text-content {
    padding-top: 80px;
}

.contact-button {
    padding: 10px 80px !important;
    background-color: #F8A5A8 !important;
    border: none;
}
.contact-button a {
    text-decoration: none;
    color: white;
}